.UserRepos {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  width: 100%;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1em;
}

.Heading {
  font-size: 1.1rem;
  text-align: left;
  margin-bottom: 1rem;
}
