.Repo {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;

  display: flex;
  flex-flow: column;
}

.Repo:hover {
  background-color: #161b22;
}

.Header {
  display: flex;
  align-items: baseline;
}

.NameCont {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.Name {
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 8px;
  text-align: left;
}

.Expand {
  flex: 1;
}

.Misc {
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
}

.Misc span {
  font-size: 0.9rem;
  font-weight: 200;
}

.Star {
  margin-left: 0.5rem;
  /* cursor: pointer; */
}

.Fork {
  margin-left: 1rem;
  /* cursor: pointer; */
}
.Send {
  transition: scale 0.2s ease-in;
}

.Send:hover {
  transform: scale(1.1);
}

.Tools {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.Maximize {
  margin-top: 8px;
  cursor: pointer;
}

.Maximize:hover {
  transform: scale(1.1);
}
