.UserImage {
  margin-left: 4px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.UserImage:hover {
  transform: translateY(-2px);
}
